# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../../:\Users\Adwait\OneDrive - tuhh.de\Abhyass\Deep_Learning_FAU\Programming_Exercises\DeepLearningFAU\Exercise_0\src_to_implement\src_to_implement\Problem2\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
